{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2 card">
            <div class="my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                {% if product.category %}
                    <a class="card-text link-secondary" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag"></i>{{ product.category.friendly_name }}
                    </a>
                {% endif %}
                {% if product.rating != 0 %}
                    <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                {% else %}
                    <p class="card-text">No ratings yet</p>
                {% endif %}
                <p>£: {{ product.price }}</p>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 card">
            <h5><strong>{{ product.name }}</strong></h5>
            <p><strong>Author:</strong> {{ product.aurthor }}</p>
            <p><strong>Publisher:</strong> {{ product.publisher }}</p>
            <p><strong>Notes:</strong> {{ product.notes }}</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Illustrations:</strong> {{ product.illustrations }}</p>
            <p><strong>Condition:</strong> {{ product.condition }}</p>

            <!--ADD TO BAG FORM-->
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">

                    <!--CONTINUE SHOPPING-->
                    <div class="col-12">
                        <a href="{% url 'products' %}" class="btn btn-dark  mt-5">
                            <span class="text-uppercase"><i class="fas fa-arrow-left"></i> Back to all books</span>
                        </a>
                        <!--ADD TO BAG BUTTON-->
                        <input type="submit" class="btn btn-dark text-uppercase mt-5" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 