{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center py-2">
            <h1>Books</h1>
            {% for c in current_categories %}
                <a class="category-badge" href="{% url 'products' %}?category={{ c.name }}">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-2 border border-dark">{{ c.friendly_name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="dropdown pb-1">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by category
                </button>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price Ascending</a>
                    <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price Descending</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </div>
            <div class="dropdown pb-1">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by genre
                </button>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?category=fiction" class="dropdown-item">Fiction</a>
                    <a href="{% url 'products' %}?category=horror" class="dropdown-item">Horror</a>
                    <a href="{% url 'products' %}?category=science_fiction" class="dropdown-item">Science Fiction</a>
                    <a href="{% url 'products' %}?category=mystery" class="dropdown-item">Mystery</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 product-container offset-1">
            <div class="row"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col=-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                        {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.aurthor }}</p>
                                {% if product.category %}
                                    <a class="card-text" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tags"></i>{{ product.category.friendly_name }}</a>
                                {% endif %}
                                <p class="card-text">£{{ product.price }}</p>
                                {% if product.rating != 0 %}
                                <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                                {% else %}
                                <p class="card-text">No ratings yet</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none my-auto mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
